**/.mypy_cache*
**/.pytest_cache*
**/.vscode*
**/.venv*
**/.git*
**/.idea*
**/*.iml
**/.pre-commit-config.yaml
**/.env
**/.dev_env
**/README*
**/test
**/*.sh
**/dist
**/out
**/node_modules
**/.DS_Store
um_mcc/